<!DOCTYPE html>
<html>
<head>
<title>
Do To Do
</title>
<% = stylesheet_link_tag :all %>
</head>
<body>
<div>
<% form_tag "/login" do %>
User Name:<%= text_field :username%>
Password:<%= text_field :password%>
<%= submit_tag "sign in"%>
<%end%>
</div>
</body>
</html>
